/* ----------------------- */
/* ---- MOBILE STYLES ---- */
/* ----------------------- */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --cell-size: 80px;
    --color: #339b78;
    --color-set: #1c5844;
    --l: 10px;
    --font-family: 'Cabin Sketch';
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://cdn.pixabay.com/photo/2016/01/22/05/45/texture-1155341_640.jpg);
    background-size: cover;
    font-family: var(--font-family);
}

/* ---- choices ---- */

#playerChoice{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    height: 140px;
    margin-top: 5px;
    color: #dbd9d9;
    font-size: 20px;
}

#choice{
    width: 100%;
    margin: auto;
    padding: 15px;
    text-align: left;
}

#options{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    padding: 10px;
    text-align: center;
}

#submit{
    padding: 4px;
    background-color: transparent;
    border: solid 1px#dbd9d9;
    color: #dbd9d9;
    font-family: var(--font-family);
    font-size: 20px;
}

/* ---- scores ---- */

#playerScores{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2em;
    color: #dbd9d9;
    font-weight: normal;
    margin: auto;
}

.score{
    margin: 5px 0;
    text-align: center;
}

div.score > h3{
    color: #dbd9d9;
    font-weight: normal;
}

div.score > p{
    height: 25px;
    color: #dbd9d9;
    font-size: 15px;
}

.turn,
.tie{
    text-decoration: 6px underline dotted #1c5844;
}
.true{
    text-decoration: 6px underline dotted #339b78;
}

/* ---- winning message ---- */

#endMessage{
    height: 20px;
    color: #dbd9d9;
    font-size: 15px;
}

#theGame{
    height: 260px;
}

/* ---- cell styles ---- */

.cellContainer{
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);                      /*fr = fraction of available space in container*/
    margin: 10px 0;
    font-size: 45px;
}

.cell{
    width: var(--cell-size);
    height: var(--cell-size);
    align-content: center;
    color: #a5a5a5;
    border: 1px solid #a5a5a5;
    text-align: center;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3){
    border-top: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9){
    border-bottom: none;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7){
    border-left: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9){
    border-right: none;
}

/* ---- button styles ---- */

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;

}

#newGame, .reset{
    width: 130px;
    height: 30px;
    margin-bottom: 10px;
    font-size: 15px;
    color: #a5a5a5;
    background-color: #339b78;
    border: #339b78;
    border-radius: 15px;
    text-transform: uppercase;
    font-family: var(--font-family);
}


/* ----------------------- */
/* ---- TABLET STYLES ---- */
/* ----------------------- */

@media (min-width: 600px) and (max-width: 900px) {                      /*--- Tablet view ---*/

    /* ---- choices ---- */

    #playerChoice{
        width: 600px;
        height: 160px;
        margin-top: 10px;
        color: #dbd9d9;
        font-size: 30px;
    }
    
    #choice{
        width: 80%;
    }
    
    #options{
        justify-content: space-evenly;
    }

    /* ---- scores ---- */

    #playerScores{
        font-size: 20px;
    }

    .score{
        margin: 0 15px;
    }

    .turn,
    .tie{
        text-decoration: 6px underline dashed #1c5844;
    }
    .true{
        text-decoration: 6px underline dashed #339b78;
    }

    /* ---- winning message ---- */

    #endMessage{
        height: 25px;
        color: #dbd9d9;
        font-size: 20px;
    }
    
    #theGame{
        height: 290px;
    }

    /* ---- cell styles ---- */

    .cellContainer{
        width: 80%;
    }

    .cell{
        width: 90px;
        height: 90px;
    }

    /* ---- buttons ---- */

    .buttons{
        flex-direction: row;
        gap: 20px;
    }

    #newGame,
    .reset{
        width: 180px;
        height: 45px;
        font-size: 20px;
    }
}

/* ------------------------ */
/* ---- DESKTOP STYLES ---- */
/* ------------------------ */

@media(min-width: 901px){                                               /*--- Desktop view ---*/

    body{
        background-image: url(https://images.unsplash.com/photo-1711062717294-8902df8cebe3?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Y2hhbGtib2FyZCUyMHRleHR1cmV8ZW58MHx8MHx8fDA%3D);
        background-size: cover;

    }

    /* ---- choices ---- */

    #playerChoice{
        width: 600px;
        height: 140px;
        margin: 40px 0 30px;
        color: #dbd9d9;
        font-size: 30px;
    }

    #choice{
        width: 80%;
        letter-spacing: 1px;
    }

    /* ---- scores ---- */

    #playerScores{
        gap: 300px;
    }

    .score{
        margin: 0 20px;
    }

    div.score > h3{
        font-size: 30px;
    }

    div.score > p{
        font-size: 25px;
    }

    .turn,
    .tie{
        text-decoration: 6px underline dashed #1c5844;
    }
    .true{
        text-decoration: 6px underline dashed #339b78;
    }

    /* ---- winning message ---- */

    #endMessage{
        font-size: 25px;
    }

    #theGame{
        height: 320px;
        margin: 10px 0 30px;
    }

    /* ---- cell styles ---- */

    .cellContainer{
        max-width: 60vh;
    }

    .cell{
        width: 100px;
        height: 100px;
        cursor: pointer;
    }

    /* ---- buttons ---- */

    .buttons{
        flex-direction: row;
        gap: 30px;
    }

    #newGame, .reset{
        width: 300px;
        height: 50px;
        font-size: 30px;
    }
}